@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Methode Analytique";
}
<style>
    .conteneur-bouton {
        text-align: center;
    }

    .bouton-envoyer {
        margin: 0 auto;
    }
</style>
<h2>Veilllez entrer les paramètres de la méthode analytique</h2>
<form method="get" action="">

    <div>
        <label for="Paramètre 1">tags_timing_slices</label>
        <input type="number" name="Param1" id="Param1" value="10" data-default="10">
        <select name="Param1Type" id="Param1Type">
            <option value="int" data-default="10">Entier</option>
            <option value="float" data-default="10.0">Flottant</option>

        </select>
    </div>
    <div>
        <label for="Parametre 2">timing_slices</label>
        <input type="number" name="Param2" id="Param2" value="10" data-default="10">
        <select name="Param2Type" id="Param2Type">
            <option value="int" data-default="10">Entier</option>
            <option value="float" data-default="10.0">Flottant</option>

        </select>
    </div>
   

    <div class="conteneur-bouton">
        <button class="bouton-envoyer">Valider</button>
    </div>
</form>
<script>
    // Fonction pour mettre à jour la valeur du champ de saisie lorsque l'utilisateur sélectionne une option
    document.querySelectorAll('select').forEach(select => {
        select.addEventListener('change', function () {
            const defaultValue = this.options[this.selectedIndex].getAttribute('data-default');
            const inputId = this.id.replace('Type', '');
            document.getElementById(inputId).value = defaultValue;
        });
    });
</script>
