@{
    ViewData["Title"] = "Projet RFID";
}

    <ul class="Menu"> 
        <li>
            <h2><a asp-controller="/ModeleAnalytique/Index.cshtml" class="actif">Méthode analytique</a></h2>
        </li>
        <li>
            <h2><a asp-controller="MachineLearning" asp-action="Index">Machine Learning</a></h2>
        </li>
        <li>
            <h2><a href="">Comparaison entre les méthodes</a></h2>
        </li>
    </ul>
