@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Machine Learning";
}
<div class="text-center">
    <style>
    .menu {
    list-style-type: none;
    display: block;
    margin: 0;
    padding: 0;
    }

    .menu li {
    margin: 0 10px;
    padding: 10px;
    border: 1px solid #ccc;
    }

    .menu li a {
    text-decoration: none;
    color: #000;
    }

    .menu li a:hover {
    color: #fff;
    background-color: #1ABC9C;
    }
    </style>
  <h2>Les divers modèles de Machine Learning</h2>


    <nav>
        <ul class="menu">
            <li>
                <h3><a asp-controller="ModeleKNN" asp-action="Index">Modèle KNN</a></h3>
            </li>
            <li>
                <h3><a asp-controller="ModeleSVM" asp-action="Index">Modèle SVM</a></h3>
            </li>
            <li>
                <h3> <a asp-controller="ModeleRandom" asp-action="Index">Modèle Random Forest</a></h3>
            </li>
        </ul>
    </nav>
</div>